body {
    text-align: center;
    background: #019587;
}

.header {
    background-size: cover;
    margin-top: 10px;
    height: 500px;
    text-align: center;
}

.header h3 {
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 900;
    padding-top: 60px;
    color: #feea3b;
    -webkit-animation-name: anim;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    /* Safari 4.0 - 8.0 */
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes anim {
    0% {
        color: #fdc006;
    }
    25% {
        color: #e91d62;
    }
    50% {
        color: #fdc006;
    }
    75% {
        color: #8bc24a;
    }
    100% {
        color: #fdc006;
    }
}


/* Standard syntax */

@keyframes anim {
    0% {
        color: #fdc006;
    }
    25% {
        color: #e91d62;
    }
    50% {
        color: #fdc006;
    }
    75% {
        color: #8bc24a;
    }
    100% {
        color: #fdc006;
    }
}

.header h2 {
    font-size: 140%;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 900;
    color: #feea3b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 50px;
    position: fixed;
    top: 0px;
}

li img {
    max-width: 20%;
    height: auto;
    padding: 0px;
    filter: brightness(110%);
    float: left;
}

.imag {
    border: 8px solid;
    border-color: #fafafa;
    border-radius: 8px;
    padding: 1px;
    margin-bottom: 10px;
    margin-top: -15px;
    max-width: 50%;
    height: 45%;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #e91d62;
    border: none;
    color: #fafafa;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    max-width: 50%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

#message {
    color: white;
    font-size: 50px;
}

#message iframe {
    height: 100px;
    width: 500px;
}

#footer {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 90px;
}

#footer h4 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #feea3b;
}
